<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Connexion</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>
    <section class="Different_form">
        <div class="login">
            <h1>Connexion</h1>
            <form method="POST" action="{{ url_for('login') }}">
                <label for="username">Nom d'utilisateur</label>
                <input type="text" name="username" id="username" required placeholder="Entrez votre nom d'utilisateur">

                <label for="password">Mot de passe</label>
                <input type="password" name="password" id="password" required placeholder="Entrez votre mot de passe">

                <button type="submit">Se connecter</button>
            </form>
        </div>

    </section>

    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>

</html>
